name: perf

on: workflow_dispatch

jobs:
  perfrun:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - id: 'auth'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: '${{ secrets.gcr_key }}'
    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v0'
    - name: 'Use gcloud CLI'
      run: >
        gcloud info &&
        gsutil perfdiag -t wthru_file,wthru -s 1500MB -o output.json gs://gsutil-perf-test
    - name: 'Upload Report'
      uses: actions/upload-artifact@v2
      with:
        name: output.json
        path: output.json
