name: push

on: workflow_dispatch

jobs:
  push-image:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v0'
      with:
        token_format: 'access_token'
        workload_identity_provider: 'projects/259817799976/locations/global/workloadIdentityPools/actions-pool/providers/actions-provider'
        service_account: 'github-cloud-functions-deploy@bayesian-calibration.iam.gserviceaccount.com'
    - name: Login to GCR
      uses: docker/login-action@v1
      with:
        registry: gcr.io
        username: oauth2accesstoken
        password: ${{ steps.auth.outputs.access_token }}
    - name: Build and push Docker image
      uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
      with:
        context: .
        push: true
        tags: gcr.io/bayesian-calibration/one-and-half:latest

